@font-face {
    font-family: Oswald;
    src: url(font/Oswald/static/Oswald-Regular.ttf);
}

@font-face {
    font-family: Inline;
    src: url(font/games/Games.ttf);
}


body{
    color:#F5E6CD;
    margin-top: 0px;
    margin:0px;
    background-color: #20161F;
    font-family: 'Oswald','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    overflow-y: auto;
}

aside{
    padding-top:  20px;
    width: 150px;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    overflow: visible;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.logo{
    position: absolute;
    padding-top: 20px;
    width: 100px;
    height: 100px;
}

.left-bean{
    display: inline-block;
    height: 200px;
    position: absolute;
    left:0; 
    margin-top: 500px;
    margin-bottom: 50px;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(5px 5px 5px #000000);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px; 
    margin-bottom: 0;
}


.navBar{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    width: 560px;
    padding-inline-start:0px;
    margin-left: 40px;
    margin-right: 40px;
}


.navBar li{
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transform: 0.3s;
}

.navBar li:hover{
    color: #f2e6ce;
}

.navBar li:before{
    content: "";
    position: absolute;
    inset: calc(100% - 3px) 0 0 0;
    background-color: #f2e6ce;
    scale: 0 1;
    transition: 0.3s, translate 0s 0.3s;
}

.navBar:hover li:before{
    scale: 1;
}

.navBar li:before{
    translate: 0;
    transition: 0.3s;
}

.navBar:hover li:has(~li:hover):before{
    translate: 100% 0 ;
    transition: 0.2s 0.2s, scale 0s 0.4s;
}

.navBar:hover li:hover ~li:before{
    translate: -100% 0;
    transition: 0.2s 0.2s, scale 0s 0.4s;
}

.navBar a{
    color: #F5E6CD;
    padding: 20px;
    width: 100px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    vertical-align:middle;
}

.searchBar{
    display: flex;
    vertical-align: middle;
    padding-right: 120px;
    height: 45px;
}

.formSearch{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 50px;
    background-color:#f5e6cd9f;
    padding: 10px 20px;
    
}

.formSearch input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: 0;
    padding: 10px 12px 10px 12px;
    font-size: 18px;
    color: #20161F;
}

.searchButton{
    padding-right: 10px;
    background: transparent;
    flex: 1;
    border: 0;
    border-right: solid 1.7px #20161554;
    outline: 0;
    font-size: 18px;
}

.cartButton{
    padding-left: 10px;
    background: transparent;
    flex: 1;
    border: 0;
    outline: 0;
    font-size: 18px;
}

::placeholder{
    color: #20161F;
}


.main{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flow-root;
    margin-bottom: 25vh;
}

.container{
    margin-top: 0;
    padding-top: 80px;
    padding-left: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
}

.intro{
    margin: 0;
    padding: 0 50px;
    display: block;
    float:left;
}

h2{
    padding: 2px 6px;
    display: inline;
    background-color:brown;
    box-shadow: 3px 3px #E6AA54;
    font-size: 25px;
    font-weight: lighter;
}

.centerBean{
    width: 200px;
    display: inline-block;
    margin-left: 300px;
    position:absolute;
}

.intro h1{
    font-family: Inline;
    font-weight: lighter;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-size: 160px;
    line-height: 140px;
    width: 600px;

}

.intro p{
    margin: 0;
    padding: 20px 0;
    font-size: 24px;
    font-weight: lighter;
    width: 600px;
}

.shopButton{
    font-family: Oswald;
    font-weight: bold;
    font-size: 16px;
    color: #E6AA54;
    box-shadow: 2px 2px  #E6AA54;
    margin-top:80px;
    background:transparent;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border:brown solid 2px;
    z-index: 1;
    position: relative;
    transition: background-color 0.5s ease-out;
}

.shopButton:hover{
    background: brown;
    color:#F5E6CD;
    transition: background-color 0.5s ease-in;
}


.searchButton, .cartButton, .shopNowdiv :hover{
    cursor: pointer;
}

.sampleImage{
    width: 800px;
    position:relative;
    cursor: zoom-in;
    transition: 2s;
    
    animation-name: slideleft;
    animation-duration: 2s ;
    animation-timing-function: ease-in;

    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(5px 5px 5px #000000);
}

.sampleImage:hover{
    transform: scale(1.05);
}


main{
    display: flex;
    justify-content: space-between;

}
.sampleImage img{
    padding-left: 50px;
    width: 800px;
}

.bg{
    background-image: url(resources/coffee-pattern.png);
    height: 900px;
    width: 50%;
    border-radius: 0 0 0 180px;
    background-color: #E6AA54;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}


.intro{
    animation-name: slideright;
    animation-duration: 2s ;
    animation-timing-function: ease-in;
}

@keyframes slideright{
    0%{
        opacity:0;
        transform: translateX(-6%);
    }
    100%{
        opacity:1;
        transform: translateX(0%);
    }
}

@keyframes slideleft{
    0%{
        opacity:0.5;
        transform: translateX(+6%);
    }
    100%{
        opacity:1;
        transform: translateX(0%);
    }
}

.story{
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.story-container{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.story-container h1{
    font-weight: lighter;
    font-family: Inline;
    font-size: 3rem;
    margin: 0 auto;
}

.story-container p{  
    width: 400px;
    font-size: 18px;
    margin: 0 auto 24px;
    padding: 16px;
}

.storyButton a{
    padding: 16px 32px;
    margin: 0 auto 0 auto;
    border-radius: 16px;
    border: solid 3px #E6AA54;
    background: transparent;
    color:#F5E6CD;
    text-decoration: none;
    font-family: Oswald;
    font-size: 16px;
}

.storyButton a:hover{
    background-color: #E6AA54;
    color: brown;
}

.story-image{
    object-position: center;
    object-fit: cover;
    width: 100vw;
    height: 80vh;
    margin: 0 auto;
    transition: 3s ease-in-out;
    filter: brightness(0.6);
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.story:hover .story-image{
    transform: scale(1.1);
    filter: brightness(0.9);
}

.product{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2e6ce;
}

.product-h1{
    font-family: Inline;
    font-size: 7vh;
    font-weight: normal;
    margin: 0;
    margin-bottom: 16px;
    padding: 16px;
    background-color: brown;
    box-shadow: 8px 8px #E6AA54;
}

.carousel-container{
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box{
    height: 70vh;
    margin:0 0;
    border-right: 1px solid rgba(0, 0, 0, 0.322);
    box-sizing: border-box;
    flex: 1;
    transition: 0.6s ease-in;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
}


.box h2{
    margin-top: 64px;
    opacity: 0;
    transition: 0.5s;
    border-radius: 8px;
    width: 256px;
    text-align: center;
    color: #F5E6CD;
}

.box:nth-child(1){
    background-image: url(resources/product/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box:nth-child(2){
    background-image: url(resources/product/2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box:nth-child(3){
    background-image: url(resources/product/3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box:nth-child(4){
    background-image: url(resources/product/4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box:hover{
    flex:3;
    filter: brightness(1);
}

.box:hover h2{
    opacity: 1;
}

.shop{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.shop-container{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction:row;
    align-items: center;
    overflow: hidden;
}

.shop-order{
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.shop-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: normal;
}

.shopImage-container{
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.shopImage{
    object-position: center;
    object-fit: cover;
    width: 50vw;
    height: 40vh;
    margin: 0 auto;
    transition: 3s ease-in-out;
    filter: brightness(0.5);
    overflow: hidden;
    z-index: -1;
}

.shop-order:hover .shopImage{
    transform: scale(1.1);
}

.shop-a{
    text-decoration: none;
    color: #F5E6CD;
}

.shop-h1{
    font-size: 3.3vh;
}

.contact{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-bottom: -15%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-container{
    width: 48vw;
    height: 56vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form{
    border-radius: 32px 0 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24vw;
    height: 56vh;
    background-image: url(resources/coffee-pattern.png);
    background-position: center;
    background-repeat: none;
    background-size: contain;
    box-shadow:  15px 15px 30px #191118;
}

.form-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    width: 70%;
    padding: 15%;
}

.area{
    margin-bottom: 2vh;
    background: transparent;
    border: none;
    border-bottom: 1px solid #20161F;
    width: 100%;
    height: 3vh;
    padding: 5px;
    padding-left: 0;
    font-size: 16px;
    font-family: Oswald;
    font-weight: light;
    color: #20161F;
}

.area::-webkit-input-placeholder {
    color: #20161F;
}

.area:focus {
    outline: none;
    border-bottom: 1px solid rgb(90, 82, 89);
}

textarea{
    margin-bottom: 2vh;
    background: transparent;
    border: none;
    border-bottom: 1px solid #20161F;
    width: 100%;
    resize: none;
    font-size: 16px;
    font-family: Oswald;
}

textarea:focus{
    outline: none;
    border-bottom: 1px solid rgb(148, 148, 148);
}

#submit-btn{
    width: 112px;
    height: 48px;
    background-color: brown;
    border: none;
    border-radius: 16px;
    color: #F5E6CD;
    font-family: Oswald;
    font-size: 16px;
}
#submit-btn:hover{
    cursor: pointer;
}

.h3-contact-title{
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 24px;
    padding: 8px;
    padding-left: 0;
    color: #20161F;
}

.contact-info{
    border-radius: 0 32px 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24vw;
    height: 56vh;
    background: linear-gradient(145deg, #221821, #1d141c);
    box-shadow:  15px 15px 30px #191118;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #F5E6CD;
    border-radius: 64px;
}

.form-h3{
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: normal;
    background-color: brown;
    box-shadow: 3px 3px #E6AA54;
    padding: 8px;
    display: inline;
    width: fit-content;
}

.label{
    display: block;
    width: 250px;
    padding-left: 20px;
    font-weight: light;
    color: #f5e6cd98;
}

.contact-span{
    display: inline;
    font-weight: normal;
    color: #F5E6CD  ;
}

.info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
svg{
    margin-bottom: 0;
}
.footer-contents{
    margin: 0;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #efe6cf;
    color: brown;
}

.footer-h3{
    font-size:32px;
    margin: 0;
}

.footer-p{
    font-size:16px;
}

.footer-icons, 
.footer-icons a
{
    display: flex;
    width: 20%;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 32px;
    color: brown;
    text-decoration: none;
    margin-top: 3vh;
}

.footer-e{
    font-size: 16px;
}
